# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# VS Code workspace settings
.vscode/

# Test / tooling caches
.pytest_cache/
pip-wheel-metadata/

# Platform-specific
.DS_Store
Thumbs.db

# MicroPython / ESP32 build artifacts
build/
*.mpy